<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wnioski urlopowe</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style_login.css">
    <script src="https://kit.fontawesome.com/455e063248.js" crossorigin="anonymous"></script>
</head>
<body>
    <header><p>Wnioski urlopowe 1.0</p></header>
    <main>
        <div class="login">
            <form action="/change_password" method=post
            oninput='up2.setCustomValidity(up2.value != up.value ? "Nowe hasło zostało nieprawidłowo powtórzone" : "")'>

              {% with messages = get_flashed_messages() %}
              {% if messages %}
              {% for message in messages %}
              <p class="text-danger">{{ message }}</p>
              {% endfor %}
              {% endif %}
              {% endwith %}
                <p><i class="fa fa-user"></i><input type="text"  placeholder="Nazwa użytkownika" required name="login"></p>
                <p><i class="fa fa-lock"></i><input type="password"  placeholder="Dotychczasowe hasło" required name=old_password></p>
                <p><i class="fa fa-lock"></i><input type="password"  Placeholder="Nowe hasło" required name=up></p>
                <p><i class="fa fa-lock"></i><input type="password"  Placeholder="Powtórz nowe hasło" required name=up2></p>
                <div class="btn-register">
                    <button type="submit">Zmień hasło</button>
                </div>
            </form>
        </div>
        <div class="logo">
            <img src="../static/mbp_logo.png">
        </div>
    </main>
</body>
</html>